body{
	padding:0px;
	margin:0px;
	font-family:Trebuchet MS, Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	width:100%;
}
body.search {
	background:#0c0c0c url(images/header_bg.gif) no-repeat top center;
}

body.search_no {
	background:#0c0c0c url(images/header_bg_no_srch.gif) no-repeat top center;
}
img{
	border:0px;
}

div#header_title a{
	color:#c5f23b;
}
div#footer_message {
	color: #c2c2c2;
	padding-bottom: 10px;
}
div.messages a{
	color: #c2c2c2;
}
div#slogan {
	font-size: 14px;
	font-family: Helvetica, Trebuchet MS, Verdana, Arial;
	color: #c2c2c2;
	padding-top: 3px;
	padding-left: 55px;
}
a {
	//color:#c5f23b;
	//color: #8b8b8b;
	color: #027AC6;
	text-decoration:none;
}
form, table, ul, li{
	padding:0px;
	margin:0px;;
}
.noborder{
	border:0px;
}

div#header_wrapper {
	text-align:left;
	width: 788px;
}
div#page{
	width:998px;
	text-align:left;
}

/*tabs*/

ul.tabs a.active{
	background: #DDDDDD;
	border-color: #BBBBBB;
	color: #027AC6;

}

ul.tabs a{
	background: #FFFFFF;
	color: #626262;

}
/*header
 section
 */
#header{
	width:788px;
	text-align:left;
}

#header_top{
	width:100%;
	height:108px;
}

#header_bottom{
	width:100%;
	height:52px;
}

#header_title{
	color:#ffffff;
	font-size:31px;
	padding-top:40px;
	padding-left:35px;
}

#header_title span{
	color:#909090;
	font-size:11px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	position:relative;
	top:-5px;
}

/*menu*/
/*
#menu_items{
	width:73%;
	float:left;
}
*/
#menu_search_box{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#7f7f7f;
	font-size:11px;
	float:left;
	//width:27%;
	padding-top:19px;
}
/*
table.sticky-header{
	width:100%;
}
table.sticky-table{
	width:100%;
}
*/

table.sticky-enabled{
	width:98%;
}
table.sticky-enabled td{
	max-width: 200px;
}
table.sticky-enabled td{
	min-width: 40px;
}
.form-item label.user-login{
	color: red;
}
#menu_search_box input.s{
	width:189px;
	font-size:13px;
	color:#666666;
	border:0px;
	background:none;
	position:relative;
	top:-7px;
}

#menu_search_box span{
	position:relative;
	top:-7px;
}

#menu{
	padding-left:15px;
}
#primary-menu-wrapper{
	float: left;
	width: 71%;
	padding-top: 13px;
}

div#menu #menu_pad{
	font-size:13px;
	color:#FFFFFF;
	height:52px;
}

div#menu a{
	color:#e2e2e2;
	font-weight:normal;
	padding-bottom:10px;
}

div#menu a:hover{
	color:#cccccc;
}

div#menu #menu_items div{
	float:left;
}

ul.secondary-links li {
	background: #535353;
}
ul.primary-links, ul.secondary-links{
	padding-bottom: 2px;
}
ul.primary-links li {
	background: #323232;
}
ul.primary-links li.active{
	background: #c2c2c2;
}
div#menu ul.primary-links li.active a{
	color: #202020;
}

/* end menu */

/* end header */

div#page #main-wrapper{
	background:url(images/body_bg.gif) repeat-y top left;
	float:left;
	width:100%;
}

div#main-wrapper #main-center{
	width:550px;
	float:left;
	padding-top:25px;
	padding-left:10px;
}

div#main-wrapper #main-right{
	width:160px;
	padding-left:25px;
	float:left;
	position:relative;
	top:-130px;
}

div#main-wrapper #main-left{
	width:160px;
	padding-left:35px;
	float:left;
}

/* sidebar*/

#main-left #sidebar-first{
	padding-left:0px;
	margin-top:5px;
	width:100%;
}
#sidebar-last{
	padding-left: 35px;
}
/*
#main-left #sidebar-left ul{
	padding:0px;
	margin:0px;
}
#main-left #sidebar-left li{
	padding:0px;
	margin:0px;
	list-style-type:none;
}
*/
div.block h2{
	color:#a2dc02;
	font-size:20px;
	margin:0px;
	padding-bottom:5px;
	padding-top:6px;
	padding-left:5px;
	font-weight:normal;
	font-family:Georgia, "Times New Roman", Times, serif;
}

div.block ul.menu li{
	border-bottom:0;
	background: url(images/solid_li.gif) left bottom no-repeat;
}
div.block ul.menu li.leaf a, div.block ul.menu li.collapsed a, div.block ul.menu li.expanded a{
	/*background: url(images/bl_li.gif) left top no-repeat;*/
	/*background: url(images/cat_li.gif) left top no-repeat;*/
	/*list-style-image: url(images/cat_li.gif) left top no-repeat;*/
	/*padding-left:9px;*/
	color:#8b8b8b;
	font-size:11px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	text-decoration:none;
	font-weight:normal;
	line-height:19px;
}

div.block ul.menu li.collapsed {
	list-style-image: url(images/collapsed.gif);
}
div.block ul.menu li.expanded {
	list-style-image: url(images/expanded.gif);
}

li a.active{
	color: #909090;
}

/*content*/
div#content-wrapper {
	float: left;
	width: 550px;
	padding-left: 17px;
	color:#909090;
}
.profile h3{
	background: transparent url(images/title_line.gif) no-repeat scroll right top;
	border-bottom: none;
}
div#content-wrapper h1.title {
	color:#a2dc02;
	font-size:24px;
	margin:0px;
	padding-bottom:5px;
	padding-top:6px;
	padding-left:5px;
	font-weight:normal;
	font-family:Georgia, "Times New Roman", Times, serif;
}
legend {
	color:#8b8b8b;
}
/*login block*/

div#edit-name-wrapper label, div#edit-pass-wrapper label{
	color: #c2c2c2;
}
/*end login block*/

/*
#main-left #sidebar-left ul li{
	color:#8b8b8b;
	font-size:11px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-weight:bold;
}



#main-left #sidebar-left li a{
	color:#8b8b8b;
	font-size:11px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	text-decoration:none;
	font-weight:normal;
	line-height:19px;
}

#main-left #sidebar-left ul li{
	border-bottom:0;
	background: url(images/solid_li.gif) left bottom no-repeat;
}
*/
/*
#main-left #sidebar-left ul li ul li{
	font-size:11px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-weight:bold;
	padding-right:5px;
	padding-bottom:5px;
	background:none;
}
#main-left #sidebar-left ul li ul li ul li{
	font-size:11px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-weight:normal;
	color:#8b8b8b;
	padding-bottom:0px;
}
#main-left #sidebar-left ul li ul li ul li a{
	font-size:11px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-weight:normal;
	color:#8b8b8b;
}

#main-left #sidebar-left ul li{
	border-bottom:0;
	background: url(images/solid_li.gif) left bottom no-repeat;
}

#main-left #sidebar-left ul li.widget_categories ul li ul li{
	border-bottom:0;
	background: none;
}

#main-left #sidebar-left ul li ul li ul{
	padding-left:10px;
}

#main-left #sidebar-left ul li ul li a{
	background: url(images/bl_li.gif) left top no-repeat;
	padding-left:9px;
}

#main-left #sidebar-left ul li.widget_categories ul li a{
	background: url(images/cat_li.gif) left top no-repeat;
	padding-left:9px;
}

#main-left #sidebar-left ul li.widget_archives ul li a{
	background: url(images/ar_li.gif) left top no-repeat;
	padding-left:9px;
}

#main-left #sidebar-left ul li.widget_meta ul li a{
	background: url(images/meta_li.gif) left top no-repeat;
	padding-left:9px;
}

#main-left #sidebar-left ul li.widget_categories li ul.children li a{
	background: url(images/line_li.gif) left top no-repeat;
	padding-left:9px;
}
*/
/* footer */

#footer{
	width:100%;
	height:101px;
	text-align:center;
	float:left;
	background:url(images/footer_bg.gif) no-repeat top;
}

div#footer #footer_text{
	color:#ffffff;
	line-height:20px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	padding-top:45px;
	padding-bottom:10px;
	padding-left:15px;
}

div#footer #footer_text a{
	color:#a2dc02;	
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-weight:bold;
}

div#footer #footer_text span a{
	color:#a2dc02;	
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-weight:bold;
}

/* end footer */




/*system.css override*/
html.js fieldset.collapsible legend a {
		padding-left: 15px; /* LTR */
background: url(images/expanded.gif) 5px 75% no-repeat; /* LTR */
}
html.js fieldset.collapsed legend a {
		background-image: url(images/collapsed.gif); /* LTR */
		background-position: 5px 50%; /* LTR */
}

.clearfix:after {
	clear: both;                                    
	content: ".";
	display: block;
	font-size: 0;
	height: 0;
	visibility: hidden;
}
